{{#if session.isAuthenticated}}
	<form class='form-group'>
		<label for="">Author</label>
		  {{input required class='form-control' id="author" value=author}}
		<label for="">Category</label>
		  {{input required class='form-control' id="category" value=category}}
		<label for="">Content</label>
		  {{textarea required class='form-control' id="content" value=content}}
		<label for="">Notes</label>
		  {{input required=true class='form-control' id="note" value=note}}
		<label for="">Tags</label>
		  {{input required class='form-control' id="tag" value=tag}}
		<button id="button" class='btn btn-success' {{action 'saveQ'}}>Save Question</button>
		<button id="button" class='btn btn-secondary' {{action 'cancel'}}>Cancel</button>
	</form>
{{else}}
<p class="text-warning">You need to sign in to post a new question</p>
{{/if}}
{{yield}}
