{{#if showForm}}
<hr>
<form class='form-group'>
  <label for="">author</label>
  {{input class='form-control' id="editor" value=editor}}
  <label for="">answer</label>
  {{input class='form-control' id="jibu" value=jibu}}
  <button id='savearticle' class='btn btn-success' {{action 'saveA'}}>Save Answer</button>
</form>
{{else}}
<button id='button' class='btn btn-primary' {{action 'showNewAnswerButton'}}>New Answer</button>
{{/if}} 
{{yield}}
