	<div class="row">
		<div class='col-md-9'>
			{{#link-to 'question' item.id}}
					<p id='question'><strong>{{item.content}}</strong></p>
				    <p class='text-muted'><small>Asked By: {{item.author}}. Category: {{item.category}}</small></p>
			{{/link-to}}
				
			<p>{{question-timestamp item.timestamp}}</p>
				
			{{#if showUpvoteCount}}
					<button {{action 'hideUpVoteDetails'}} class='btn'>Upvotes | {{item.upvote}}</button>
			{{else}}
					<button {{action 'upVote' item}} class='btn'>Upvote</button>
			{{/if}}
				
			&nbsp;&nbsp;
				
			{{#if showDownVoteDetails}}
					<button {{action 'hideUpVoteDetails'}} class='btn'>Downvotes|{{item.downvote}}</button>
			{{else}}
					<button {{action 'downVote' item}} class='btn'>Downvote</button>
			{{/if}}
		</div>
	</div>
{{yield}}
