<form class='form-group'>
  <label for="">email:</label>
  {{input placeholder='john@doe.com' class='form-control' id="email" value=email}}
  <label for="">password:</label>
  {{input placeholder='e.g hfH@hdjd' type='password' class='form-control' id="password" value=password}}
   <label for="">username:</label>
  {{input placeholder='e.g mark' class='form-control' id="username" value=username}}
  <button id='button' class='btn btn-success' {{action 'signUp'}}>Sign Up</button>
  <button id='button' class='btn' {{action 'cancelSignUp'}}>Cancel</button>
</form>
{{yield}}
