{{#if session.isAuthenticated}}
<p>Signed In</p>
{{else}}
<form class='form-group'>
  <label for="">email:</label>
  {{input placeholder='john@doe.com' class='form-control' id="email" value=email}}
  <label for="">password:</label>
  {{input type='password' placeholder='' class='form-control' id="password" value=password}}
  <button id='button' class='btn btn-success' {{action 'signIn'}}>Sign In</button>
  <button id='button' class='btn' {{action 'cancelSignIn'}}>Cancel</button>
</form>
{{/if}}
{{yield}}
