{{!-- The following component displays Ember's default welcome message. --}}
{{!-- Feel free to remove this! --}}
<nav class='navbar navbar-default'>  
   <div class='menu'>
    <h1><em>Quora Clone</em></h1>
    <div class="links">
      {{#link-to 'index'}}
        Home
	    {{/link-to}} 
	    {{#link-to 'about'}}
	    About
	    {{/link-to}}
	    {{#link-to 'contact'}}
	    Contact
	    {{/link-to}}
    </div>
    <div id="session">
{{#if session.isAuthenticated}}
  Logged in as {{session.currentUser.email}}
  <button class='btn btn-danger' {{action "signOut"}}>Sign out</button>
{{else}}
  <button class='btn btn-success' {{action "signIn"}}>Sign In</button>
{{/if}}
</div>
   </div>
</nav>
<div id='main' class='container'>  
    {{outlet}}
</div> 

<footer>

</footer>