<p id='question'><strong>{{model.question.content}}</strong></p>
<p class='text-muted'><em>{{model.question.author}}</em></p>
<p><em>Additional Notes:</em> {{model.question.note}}</p>
<hr class='hr'>
<h3 class='text-success'>Answers</h3>
{{#each model.question.answers as |answer|}}
	<p class='text-warning'>{{answer.jibu}}<small><em> Answered By: {{answer.editor}}</em></small></p>
{{/each}}
<hr>
{{new-answer question=model.question saveAns='saveAns'}}
<button class='btn' id='button' {{action 'editQuestion' model.question}}>Edit Question</button>
<!--Implementing modal-->
{{#bs-modal open=modal3 onSubmit=(action "submit") onHidden=(action (mut modal3) false) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      Custom Dialog
      <div class="badge">2</div>
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    <input type="text" autofocus="autofocus">
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close)}}Cancel{{/bs-button}}
    {{#bs-button type="danger"}}Delete{{/bs-button}}
    {{#bs-button type="success" onClick=(action modal.submit)}}Save{{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
{{#bs-button onClick=(action (mut modal3) true)}}Open Modal{{/bs-button}}
{{outlet}}
