{{model.question.content}}<br>
{{model.question.author}}<br>
{{model.question.note}}<br>
<hr>
<h3>Answers</h3>
{{#each model.question.answers as |answer|}}
	{{answer.jibu}}
	<br>
{{/each}}
<hr>
{{new-answer question=model.question saveAns='saveAns'}}
{{edit-question question=model.question editQuestion='editQuestion' }}
{{outlet}}
